<% provide(:title, "Help") %>

<div class="help-page">
  <h1>Contact</h1>
  <p>
    Contact the help center about Instagram at the
    <a href="https://help.instagram.com">help page</a>.
  </p>
</div>
