<li>
  <%= link_to( image_tag("user_img.jpeg", alt: "user_img", width: "200px"), user) %>
  <%= link_to( user.user_name, user ) %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to "| アカウントを削除", user, method: :delete,
              data: {confirm: "アカウントを削除して本当にいいですか"} %>
  <% end %>
</li>
